 <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/views/css/categorias.css">
    <title>Delivery</title>
</head>
<body>{{#each admin}}
    <header>
            {{#each ../infoDelivery}}
            <h4>{{nome}}</h4>
            {{/each}}

            <div id="voltar">
                <a href="/menu/{{loginUser}}/{{senhaUser}}">Voltar</a>
           </div>

            
            {{#each ../cidades}}
            <div class="menu">
                
                <p>{{cidade}}</p>
                <a href="/del/cidadeId/{{id}}/{{../loginUser}}/{{../senhaUser}}" class="excl">excluir</a>
            </div>
            {{/each}}

    </header>
    {{/each}}
</body>
</html>