<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/views/css/minhaConta.css">
    <title>Delivery</title>
</head>
<body>{{#each admin}}
    <header>
             {{#each ../infoDelivery}}
            <h4>{{nome}}</h4>
            {{/each}}

            <div id="voltar">
                <a href="/menu/{{loginUser}}/{{senhaUser}}">Voltar</a>
           </div>

            
            <div class="menu">
                <form action="/insertCidade/{{loginUser}}/{{senhaUser}}" method="post">
                  
                        <p>Nome da categoria</p>
                <input type="text" value="" name="cidade" placeholder="São Paulo, sorocaba">

                <button id="btnCad">Cadastrar</button>
                
                </form>

            </div>

    </header>
    {{/each}}
</body>
</html>
</body>
</html>