<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/views/css/minhaConta.css">
    <title>Delivery</title>
</head>
<body>{{#each admin}}
    <header>
             {{#each ../infoDelivery}}
            <h4>{{nome}}</h4>
            {{/each}}

            <div id="voltar">
                <a href="/menu/{{loginUser}}/{{senhaUser}}">Voltar</a>
           </div>

            
            <div class="menu">
                <form action="/cad/{{loginUser}}/{{senhaUser}}" method="post" enctype="multipart/form-data">
                  
                        <p>Imagem Ilustrativa (1)</p>
                <input type="file" id="ImgInput" name="imgProduto">
                        <p>Nome do produto</p>
                <input type="text" name="nome" placeholder="X-salada, macarrão">
                        <p>categoria</p>
                        <select name="categoria" id="">
                        {{#each ../categoria}}
                                <option value="{{categoria}}">{{categoria}}</option>
                        {{/each}}
                        </select>
                        
                        <p>Descrição</p>
                <input type="text" placeholder="Pão, alface e queijo cheedar" name="desc">
                        <p>Preço de venda</p>
                <input type="text" placeholder="12.99" name="preco">

                <button id="btnCad">Cadastrar</button>
                
                </form>

            </div>

    </header>
    {{/each}}
</body>
</html>