<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/views/css/index.css">
    <title>Delivery</title>
</head>
<body>
         <header>
            {{#each infoDelivery}}
            <h4>{{nome}}</h4>
            {{/each}}

           <div id="horario">
            {{#each infoDelivery}}
                 <p>Horário de funcionamento</p>
                <p>{{horarioAbertura}} às {{horarioFechamento}}</p>
                <p>{{endereco}}</p>
                <p>{{mensagem}}</p>
            {{/each}}
               <button id="setup_button">Installar App (Android / Windows)</button>
           </div>

            <a href="/categorias">
                <div class="menu">
                <img src="/views/images/7729570d29866a51b75c55e91d733364.png" alt="">
                <p>Ver menu</p>
            </div>
            </a>

            <a href="/criarConta">
                <div class="menu">
                <img src="/views/images/png-clipart-computer-icons-icon-design-user-register-button-heroes-rectangle-thumbnail-removebg-preview.png" alt="">
                <p>Criar conta</p>
            </div>
            </a>

            <a href="/info">
                <div class="menu">
                <img src="/views/images/4a35544fade4fa0e81416d56b4c760d7-removebg-preview.png" alt="">
                <p>Informações</p>
            </div>
            </a>

            <a href="/login">
                <div class="menu">
                <img src="/views/images/74472.png" alt="">
                <p>Minha conta</p>
            </div>
            </a>

    </header>
</body>
<script src="/sw.js"></script>
<script src="/views/js/mainInstall.js"></script>
</html>